/* Table */

body{
  max-width: 1320px;
  margin: 0 auto;
}
table{
  margin-top: 100px;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}






table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-family: "Inter", sans-serif;
    text-align: left;
  }


/* style one */
  .ed-style-one thead tr {
    border-bottom: 1px solid #cdcdcd;
  }
  
  .ed-style-one thead tr th {
    padding-inline: 14px;
    padding-bottom: 30px;
    color: #1e1e1e;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .ed-style-one tbody tr {
    border-top: 1px solid #cdcdcd;
    transition: 0.3s;
  }
  .ed-style-one tbody tr:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .ed-style-one tbody tr:hover {
    box-shadow: 0px 4px 24px 0px #00000017;
    border-color: transparent;
  }
  .ed-style-one tbody tr:hover + tr  {
    border-top-color: transparent;
  }
  
  .ed-style-one tbody tr td {
    padding: 14px;
  }
  
  .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    position: relative;
  }
  .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner img{
    max-width: 100%;
    display: block;
  }
  .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px;
    border-radius: 3px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.13);
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    border: none;
    white-space: nowrap;
  }
  @media (max-width: 1400px) {
    .ed-style-one.table-scroll .ed-product-thumb-inner .badge{
      right: -10px !important;
    }
  }
  @media (min-width: 992px) {
    .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner {
      max-width: 100px;
      text-align: center;
    }
  }
  @media (max-width: 991px) {
    .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge {
      right: -30px;
    }
    .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner{
      display: inline-block;
      max-width: 60px;
    }
  }
  
  .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge.discount {
    background: #7faf2b;
  }
  .ed-style-one tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge.sale {
    background: #FF3D22;
  }
  
  .ed-style-one tbody tr td.ed-product-title {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }
  
  .ed-style-one tbody tr td.ed-product-price {
    color: #080f13;
    font-weight: 700;
  }
  
  .ed-style-one tbody tr td.ed-product-discount {
    color: #ff2323;
    font-size: 13px;
  }
  
  .ed-style-one tbody tr td.ed-product-description {
    color: #242424;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.164px;
  }
  
  .ed-style-one tbody tr td.ed-product-countdown .count-down {
    display: flex;
    gap: 14px;
    text-align: center;
  }
 
  .ed-style-one tbody tr td.ed-product-countdown .count-down .number{
    font-weight: 600;
  }
  
  .ed-style-one tbody tr td.ed-product-cart .addToCart button {
    padding: 10px 18px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.72px;
    letter-spacing: 0.56px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Inter", sans-serif;
    white-space: nowrap;
  }
  
  .ed-style-one tbody tr td.ed-product-cart .addToCart button:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
  .table-bottom-style-one{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    gap: 20px;
  }
  .table-bottom-style-one p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
  }
  .table-bottom-style-one .navigation{
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .table-bottom-style-one .navigation button{
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.09));
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
  }
  .table-bottom-style-one .navigation button svg path{
    transition: .3s;
  }

  .table-bottom-style-one .navigation button:hover{
    filter: none;
    background: #000;
  }
  .table-bottom-style-one .navigation button:hover svg path{
    stroke: #fff;
  }





/* style two */
.ed-style-two{
  border: 1px solid #cdcdcd;
}
.ed-style-two thead {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
  background: #FAF9F9;
}

.ed-style-two thead tr th {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.ed-style-two thead tr th {
  padding: 32px 0 30px 0px;
}
.ed-style-two thead tr th:first-child {
  padding: 32px 0 30px 28px;
}

.ed-style-two tbody tr:not(:last-child){
  border-bottom: 1px solid #cdcdcd;
}

.ed-style-two tbody tr td {
  padding: 20px 20px 20px 0;
}
.ed-style-two tbody tr td:first-child {
  padding-left: 27px;
}
.ed-style-two tbody tr td:last-child {
  padding-right: 27px;
}

.ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner {
  position: relative;
  background: #F5F8FB;
  border: 1px solid #CDCDCD;
  border-radius: 10px;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner img{
  max-width: 100%;
  display: block;
}
@media (min-width: 992px) {
  .ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    max-width: 100px;
    text-align: center;
  }
}
.ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge {
  position: absolute;
  top: 15px;
  right: -28px;
  padding: 4px 30px;
  border-radius: 3px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.13);
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  border: none;
  white-space: nowrap;
  transform: rotate(50deg);
  text-align: center;
}
@media (max-width: 991px) {
  .ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge {
    top: 15px;
    right: -30px;
    padding: 2px 30px;
    font-size: 10px;
    line-height: 15px;
    transform: rotate(50deg);
  }
}
.ed-style-two tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge.discount {
  background: #7faf2b;
}

.ed-style-two tbody tr td.ed-product-title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.ed-style-two tbody tr td.ed-product-price {
  color: #080f13;
  font-weight: 700;
}

.ed-style-two tbody tr td.ed-product-discount {
  color: #ff2323;
  font-size: 13px;
}

.ed-style-two tbody tr td.ed-product-description {
  color: #242424;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.164px;
}

.ed-style-two tbody tr td.ed-product-countdown .count-down {
  display: flex;
  gap: 14px;
  text-align: center;
}

.ed-style-two tbody tr td.ed-product-countdown .count-down .number{
  font-weight: 600;
}

.ed-style-two tbody tr td.ed-product-cart .addToCart button {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.72px;
  letter-spacing: 0.56px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}

.ed-style-two tbody tr td.ed-product-cart .addToCart button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}








/* style three */
.ed-style-three{
  border: 1px solid #cdcdcd;
}
.ed-style-three thead {
  background: #FAF9F9;
  border-bottom: .5px solid #cdcdcd;
}

.ed-style-three thead tr th {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.ed-style-three thead tr th:not(:last-child) {
  border-right: 1px solid #cdcdcd;
}
.ed-style-three thead tr th {
  padding: 32px 20px 30px 20px;
}
.ed-style-three thead tr th:first-child {
  padding-left: 28px;
}

.ed-style-three tbody tr:not(:last-child){
  border-bottom: 1px solid #cdcdcd;
}
@media (max-width: 991px) {
  .ed-style-three.single-product-style tbody td{
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
  }
}
.ed-style-three tbody tr td {
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.ed-style-three tbody tr td:nth-child(2),.ed-style-three tbody tr td:nth-child(3) {
  text-align: left;
}
.ed-style-three tbody tr td:not(:last-child) {
  border: 1px solid #cdcdcd;
}
.ed-style-three tbody tr td:first-child {
  padding-left: 27px;
}
.ed-style-three tbody tr td:last-child {
  padding-right: 27px;
}

.ed-style-three tbody tr td.ed-product-thumb .ed-product-thumb-inner {
  position: relative;
  background: #F5F8FB;
  border: 1px solid #CDCDCD;
  border-radius: 10px;
  padding: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 102px;
}

.ed-style-three tbody tr td.ed-product-thumb .ed-product-thumb-inner img{
  max-width: 100%;
  display: block;
}
@media (min-width: 992px) {
  .ed-style-three tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    text-align: center;
  }
}
.ed-style-three tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge {
  position: absolute;
  top: 15px;
  right: -28px;
  padding: 4px 30px;
  border-radius: 3px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.13);
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  border: none;
  white-space: nowrap;
  transform: rotate(50deg);
  text-align: center;
}

.ed-style-three tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge.discount {
  background: #7faf2b;
}

.ed-style-three tbody tr td.ed-product-title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.ed-style-three tbody tr td.ed-product-price {
  color: #080f13;
  font-weight: 700;
}

.ed-style-three tbody tr td.ed-product-discount {
  color: #474747;
  font-size: 13px;
}

.ed-style-three tbody tr td.ed-product-description {
  color: #242424;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.164px;
}

.ed-style-three tbody tr td.ed-product-countdown .count-down {
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;
}

.ed-style-three tbody tr td.ed-product-countdown .count-down .number{
  font-weight: 600;
}

.ed-style-three tbody tr td.ed-product-cart .addToCart button {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.72px;
  letter-spacing: 0.56px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}

.ed-style-three tbody tr td.ed-product-cart .addToCart button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}








/* style four */
.ed-style-four {
  border-collapse:separate; 
  border-spacing: 0 10px;
}
.ed-style-four tbody tr {
  box-shadow: 0px 4px 17px rgba(18, 35, 78, 0.11);
  border-radius: 10px;
}
@media (max-width: 991px) {
  .ed-style-four.single-product-style {
    border-collapse:unset !important; 
    border-spacing: 0 !important;
  }
  .ed-style-four.single-product-style tbody tr {
    box-shadow: none;
    border-radius: 0;
  }
}

.ed-style-four thead tr th {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.ed-style-four tbody tr:not(:last-child) {
  margin-bottom: 10px;
}
.ed-style-four tbody tr td{
  padding: 20px;
}

.ed-style-four tbody tr td.ed-product-thumb .ed-product-thumb-inner {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  min-width: 100px;
}
.ed-style-four tbody tr td.ed-product-thumb .ed-product-thumb-inner img{
  max-width: 100%;
  display: block;
}
@media (min-width: 992px) {
  .ed-style-four tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    max-width: 100px;
    text-align: center;
  }
}

.ed-style-four tbody tr td.ed-product-title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.ed-style-four tbody tr td.ed-product-price {
  color: #080f13;
  font-weight: 700;
}
.ed-style-four tbody tr td.ed-product-price > * {
  display: block;
}
.ed-style-four tbody tr td.ed-product-price > del {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FF2323;
  opacity: 0.7;
  margin-top: 7px;
}
@media (max-width: 991px) {
  .ed-style-four.single-product-style tbody tr td.ed-product-price > del {
    margin-top: 0;
    margin-left: 10px;
  }
  .ed-style-four.single-product-style tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    max-width: 60px;
  min-width: unset;

  }
}

.ed-style-four tbody tr td.ed-product-discount {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #108D3B;
}

.ed-style-four tbody tr td.ed-product-description {
  color: #242424;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.164px;
}

.ed-style-four tbody tr td.ed-product-countdown .count-down {
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;
}

.ed-style-four tbody tr td.ed-product-countdown .count-down .number{
  font-weight: 600;
}

.ed-style-four tbody tr td.ed-product-cart .addToCart button {
  padding: 10px 18px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.72px;
  letter-spacing: 0.56px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}

.ed-style-four tbody tr td.ed-product-cart .addToCart button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

.table-bottom-style-four{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px 30px;
  align-items: center;
  flex-wrap: wrap;
}

.table-bottom-style-four .navigation{
  display: flex;
  gap: 14px;
  align-items: center;
}
.table-bottom-style-four .navigation > *{
  padding: 6px 14px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  height: 40px;
  cursor: pointer;
  transition: .3s;
}
.table-bottom-style-four .navigation > *:hover{
  background: #0A0A0A;
  border-color: #0A0A0A;
  color: #fff;
}
.table-bottom-style-four .navigation .page-number{
  display: flex;
  gap: 10px;
  align-items: center;
}
.table-bottom-style-four .pagination{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .table-bottom-style-four{
    flex-direction: column;
  }
  .table-bottom-style-four .pagination{
    justify-content: center;
  }
}
.table-bottom-style-four .pagination a{
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 8px;
  transition: .3s;
}
.table-bottom-style-four .pagination a.active{
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  color: #000000;
}









/* style five */
.ed-style-five thead {
  background: #FAF9F9;
  box-shadow: 0px 2px 4px 0px #0000001C;
  border-bottom: 1px solid #CDCDCD
}
.ed-style-five thead tr th {
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 400;
  padding: 32px 10px 30px 20px;
}
.ed-style-five thead tr th:first-child {
  padding-left: 28px;
}
.ed-style-five thead tr .th-discount {
  background: #5E9C001A;
  text-align: center;
  padding-right: 20px;
}
.ed-style-five tbody tr{
  border-bottom: 1px solid #cdcdcd;
}
.ed-style-five tbody tr td{
  padding: 20px 10px 20px 20px;
}
.ed-style-five tbody tr td:first-child{
  padding-left: 28px;
}

.ed-style-five tbody tr td.ed-product-thumb .ed-product-thumb-inner {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #F5F8FB;
  border: 1px solid #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;

}
.ed-style-five tbody tr td.ed-product-thumb .ed-product-thumb-inner img{
  max-width: 100%;
  display: block;
  object-fit: cover;
}
@media (min-width: 992px) {
  .ed-style-five tbody tr td.ed-product-thumb .ed-product-thumb-inner {
    text-align: center;
  }
}
.ed-style-five tbody tr td.ed-product-thumb .ed-product-thumb-inner .badge{
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: #5E9C00;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 30px;
  white-space: nowrap;
}

.ed-style-five tbody tr td.ed-product-title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.ed-style-five tbody tr td.ed-product-price {
  color: #080f13;
  font-weight: 700;
}
.ed-style-five tbody tr td.ed-product-price > * {
  display: block;
}
.ed-style-five tbody tr td.ed-product-price > del {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FF2323;
  opacity: 0.7;
  margin-top: 7px;
}
@media (max-width: 991px) {
  .ed-style-five.single-product-style tbody tr td.ed-product-price > del {
    margin-top: 0;
    margin-left: 10px;
  }
}

.ed-style-five tbody tr td.ed-product-discount {
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #108D3B;
  background: #5E9C001A;
  padding: 0 20px;
  text-align: center;
}

.ed-style-five tbody tr td.ed-product-description {
  color: #242424;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.164px;
}

.ed-style-five tbody tr td.ed-product-countdown .count-down {
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;
}

.ed-style-five tbody tr td.ed-product-countdown .count-down .number{
  font-weight: 600;
}

.ed-style-five tbody tr td.ed-product-cart .addToCart button {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.72px;
  letter-spacing: 0.56px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  background: #0A0A0A;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
}

.ed-style-five tbody tr td.ed-product-cart .addToCart button:hover {
  color: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.table-bottom-style-five{
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 42px;
}
.table-bottom-style-five button{
  width: 35px;
  height: 36px;
  border: 1px solid transparent;
  border-radius: 5px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
.table-bottom-style-five button.active, .table-bottom-style-five button:hover{
  background:#000000;
  color: #fff;
}
.table-bottom-style-five button.prev, .table-bottom-style-five button.next{
  border-color: #000;
}
.table-bottom-style-five button svg path{
  transition: .3s;
}
.table-bottom-style-five button:hover svg path{
  stroke: #fff;
}






  /* table in responsive */
  @media screen and (max-width: 1400px) {
    table.table-scroll{
      display: block;
      overflow-x: auto;
    }
    table.table-scroll thead .th-title{
      min-width: 150px;
    }
    table.table-scroll thead .th-description{
      min-width: 165px;
    }
  }
  
  @media screen and (max-width: 991px) {
     table.single-product-style {
      border: 0;
    }
  
     table.single-product-style thead {
      display: none;
    }
  
     table.single-product-style tr {
      border-bottom: 1px solid #ddd;
      display: block;
      padding: 0 20px;
    }
  
     table.single-product-style td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
  
     table.single-product-style th,
     table.single-product-style td {
      padding: 10px !important;
      text-align: left;
      display: flex;
      align-items: center;
    }
  
     table.single-product-style td::before {
        content: attr(data-label);
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
        text-align: left;
        min-width: 120px;
        color: #1E1E1E;
      }
     table.single-product-style td:last-child {
      border-bottom: 0;
    }
  
    table.single-product-style tbody .ed-single-product{
      display: flex;
      flex-direction: column;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-title{
      order: 1;
      padding-inline: 0 !important;
      border-bottom: transparent;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-thumb{
      display: none;
      order: 2;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-price{
      display: none;
      order: 3;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-discount{
      display: none;
      order: 4;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-description{
      display: none;
      order: 5;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-countdown{
      display: none;
      order: 7;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-rating{
      display: none;
      order: 7;
    }
    table.single-product-style tbody .ed-single-product td.ed-product-cart{
      display: none;
      order: 8;
      padding-bottom: 14px !important;
    }
    table.single-product-style tbody .ed-single-product.collapse td{
      display: flex;
    }
    table.single-product-style tbody tr:hover {
      box-shadow: none;
      border-color: #cdcdcd;
    }
    table.single-product-style tbody tr:hover + tr {
      border-color: #cdcdcd;
    }
    table.single-product-style tbody .ed-single-product.collapse .ed-product-title{
      border-bottom: 1px solid #cdcdcd;
    }
    table.single-product-style tbody .ed-single-product:not(:first-child){
      border-top: transparent;
    }
    table.single-product-style tbody .ed-single-product .ed-product-title{
      display: flex;
      gap: 15px;
    }
    table.single-product-style tbody .ed-single-product .ed-product-title:after{
      content: url(../assets/arrow.svg);
      margin-left: auto;
      transition: .3s all;
    }
    table.single-product-style tbody .ed-single-product.collapse .ed-product-title:after{
      transform: rotate(180deg);
    }
  }
  
  